<VirtualHost *:80>
    ServerName www.{{ item }}
    ServerAlias {{ item }}
    DocumentRoot /var/www/{{ item }}/html
    ErrorLog /var/log/httpd/error_log
    CustomLog /var/log/httpd/access_log combined
</VirtualHost>