<!doctype html>
<html>
  <head>
    <title>Bienvenue sur {{ item }}!</title>
  </head>
  <body>
    <p>Voici un exemple de site qui fonctionne <strong>CORPS</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
  </body>
</html>